/* Search CSS */
* { box-sizing: border-box; }
body {
  font: 16px Arial;
}

.search-container{
	position: realtive;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

.search-result{
	position:absolute;
	background:white;
	width:100%;
	padding:10px;
	border:1px solid gray;
}

