<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://thymeleaf.org">  
<head> 

	<link rel="stylesheet" th:href="@{/css/style.css}"/>
	<link rel="javascript" th:href="@{/js/script.js}"/>

    <title>Getting Started: Serving Web Content</title> 
</head>
<body>

    <h1>Here search your employee</h1>
    
    <div class="search-container-my-5">
    <input onkeyup="search()" id="search-input" type ="text" class="form-control" placeholder="Search your Employeee"/>
    
    <div class="search-result">
    <h2> </h2>
    </div>
    
    </div>
    
    
    <div class = list-group>
    
    </div>
    
</body>
</html>